\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
.bundle
.vscode
coverage
default
Gemfile.lock
yarn.lock
tmp
nbproject
pkg
*.sw?
spec/dummy
.rvmrc
.nvmrc
.tool-versions
.sass-cache
public/spree
.ruby-version
.ruby-gemset
.byebug_history
gemfiles/*.gemfile.lock
*.gem
